<div class="jumbotron">
    <h1>Best website for vendors!</h1>
    <p>我們提供了完善的夜市論壇!還有攤販宣傳與優惠活動!趕快來體驗</p>
    <p><a class="btn btn-primary btn-lg" href="/areas/north-area" role="button">了解更多</a></p>
</div>