<html>

<head>
    <title>Forgot password</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/user_register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#main_area").hide().delay(200).fadeIn('slow');

            $.validator.setDefaults({
                errorClass: 'help-block',
                highlight: function (element) {
                   $(element)
                       .closest('.form-group')
                       .addClass('has-error')
                },
                unhighlight: function (element) {
                    $(element)
                        .closest('.form-group')
                        .removeClass('has-error')
                },
            });

            $("#post-form").validate({
                rules: {
                    user_name: {
                        required:true,
                        lettersonly: true
                    },
                    email: {
                        required:true,
                        email:true
                    },
                    answer: {
                        required:true
                    }
                },
                messages: {
                    user_name: {
                        required: '請輸入使用者名稱',
                    },
                    email: {
                        required: '請輸入email',
                        email: '格式錯誤'
                    },
                    answer: {
                        required: '請輸入答案',
                    }
                }
            });
        });
    </script>
    <style>
        .h1 small {
            font-size: 24px;
        }
        .glyphicon-envelope{
            font-size: 20px;
        }
        .glyphicon-globe{
            font-size: 25px;
        }
        .top-block{
            margin-top: 100px;
        }
        textarea {
            resize: none;
        }
    </style>
</head>

<body>
<% include ../components/header.ejs %>

<div class="container">
    <div class="row top-block" id="main_area">
        <div class="col-md-8">
            <div class="well well-sm">
                <form method="post" id="post-form" action="/users/forgot_password">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    名稱</label>
                                <input type="text" class="form-control" name="user_name" id="name" placeholder="Enter name"  />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address</label>
                                <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"  /></div>
                            </div>
                            <div class="form-group">
                                <label for="hint">
                                    密碼提示</label>
                                <select id="subject" name="hint" class="form-control" required="required">
                                    <option value="na" selected="">請選擇: </option>
                                    <option value="city">出生的城市</option>
                                    <option value="birthday">朋友的生日</option>
                                    <option value="nick_name">常用的暱稱</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="answer">
                                    答案</label>
                                <textarea name="answer" id="message" class="form-control" rows="9" cols="25"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> 聯絡資訊</legend>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">
                        P:</abbr>
                    (123) 456-7890
                </address>
                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">oscar840218@gmail.com</a>
                </address>
            </form>
        </div>
    </div>
</div>



</body>

</html>